@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que o corpo da página não tem cor de fundo padrão */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent; 
}